/*? Dark color */
@import "./globals.css";

body.dark {
    background-image: url('../assets/Images/Dark-bg.jpg');
}

.dark .main-form {
    --dark: #777;
    background-color: var(--dark);
}

.dark .hamburger,
.dark .hamburger::before,
.dark .hamburger::after {
    background-color: var(--white);
}

.dark .modal {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

.dark .delete-modal>h3 {
    color: var(--white);

}

.dark .wlc-msg {
    color: var(--white-dunkel);
}


.dark .navbar {
    background-color: var(--bg-color);
}

.dark .navbar>.welcome-msg-container>.welcome-message,
.dark .nav-ul .link {
    color: var(--white-dunkel);
}

.dark .welcome-message {
    color: var(--black);
}

.dark .nav-ul .link::before {
    background-color: var(--white-dunkel);
}

.dark .patient-container {
    --bg-color: #666;
    background-color: var(--bg-color);
    transition: box-shadow 1s ease;
}

.dark .patient-container::before {
    all: unset;
}

.dark .patient-container .add-button,
.dark .patient-container .add-label {
    --white: rgb(231, 231, 231);
    color: var(--white);
}

.dark .patient-container:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
}

.dark .label-info {
    background: linear-gradient(to right, var(--purple), var(--pink));
    background-clip: text;
}

.dark .main-form .input+.form-label,
.dark .label-active {
    background-clip: unset;
    background: unset;
    color: var(--white);
    -webkit-text-fill-color: unset;
}

.dark .input {
    color: var(--white);
}

.dark .main-form .input::placeholder {
    color: var(--white-dunkel);
}

.dark .btn {
    color: var(--white);
    box-shadow: unset;
}

.dark .file-label {
    color: var(--white);
}

.dark .file-label::before {
    background-color: var(--purple);
}

.dark .btn::before {
    background-color: var(--purple);
}

.dark .btn-delete::before {
    background-color: var(--red);
}

.dark .input-info:focus {
    border-color: var(--purple);
}


.dark .showpat-container {
    --bg-color: #666666db;
    background-color: var(--bg-color);
}

.dark .showpat-container>h3 {
    --white: rgb(231, 231, 231);
    color: var(--white);
}

.dark .showpat-container::before {
    --bg-color: #666;
    background-color: var(--bg-color);
}

.dark .nopat-info {
    --bg-color: #252525;
    background-color: var(--bg-color);
    color: var(--purple)
}

.dark .nopat-info::before {
    all: unset;
}

.dark .no-img {
    filter: invert();
}

.dark .showpat-container:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
}

.dark .exact-patient,
.dark .container-infos {
    background-color: var(--bg-color);
}

.dark .exact-patient,
.dark .ul-med {
    color: var(--purple);
}

.dark .name,
.dark .reason {
    color: var(--white);
}


.dark .edit>.input-info::placeholder,
.dark .edit>.input-info {
    color: var(--white);
}

.dark .text-loading {
    color: var(--bg-color);
}

.dark .save-btn::before {
    background: var(--success);
}

.dark .input-date::-webkit-calendar-picker-indicator {
    filter: invert();
}

.dark .create-msg {
    color: var(--white-dunkel);
}

.dark .form-signin>small {
    color: var(--white-dunkel);
}

@media (max-width:768px) {
    .dark .btn {
        animation: unset;
    }
}