* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: #2b577a;
    --border-color: #4361ee;
    --melo-blue: #0077b6;
    --light-blue: #00bbf9;
    --white: #fff;
    --black: #111;
    --red: #970D1A;
    --purpule: #4e204D;
}

body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* * Utilities */
.welcome-message {
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.p-relative {
    position: relative;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visibile {
    visibility: visible;
    opacity: 1;
}

/* * Basic classes */
.d-flex {
    display: flex;
}


/* ! */

/* ? Form styles */
.container {
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: url('../assets/Images/check.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-form {
    padding: .4em;
    width: 300px;
    max-width: 300px;
    margin: auto;
    backdrop-filter: blur(15px);
}

.flex-form {
    flex-direction: column-reverse;
    margin: .3em 0;
}

.input {
    width: 80%;
    margin: auto;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid transparent;
    border-bottom-color: var(--border-color);
    height: 24px;
    padding: .7em;
    font-size: .9em;
    transition: all .5s ease;
}

.input::placeholder {
    transition: opacity .4s ease-in;
    opacity: 0;
}

.input:focus {
    border-right-color: var(--border-color);
    border-left-color: var(--border-color);
    border-radius: 5px;
    border-left-width: .2em;
    padding-left: .3em;
}

.form-label {
    max-width: 5em;
    font-size: 1.1em;
    background: -webkit-linear-gradient(50deg, #414141, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(37px, 22px);
    transition: all .5s ease;
    cursor: pointer;
}

.input:focus+.form-label,
.label-active {
    transform: translate(28px, 0);
}

.input:focus::placeholder {
    opacity: 1;
}

.btn-container {
    text-align: center;
    margin: 1em 0;
}

.btn {
    outline: none;
    border: 1px solid var(--white);
    width: 90px;
    height: 28px;
    font-size: 1em;
    transition: color .8s linear;
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    cursor: pointer;
    color: #111;
    box-shadow: 0 0 5px;
    overflow: hidden;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    background-color: var(--btn-color);
    transform: skew(35deg);
    z-index: -1;
    width: 0;
    transition: width 1s;
}

.btn:hover {
    color: var(--white);
    border-style: solid;
}

.btn:hover::before {
    width: 150%;
}

/* ? Tooltip styles */
.tooltip {
    transition: visibility .5s ease, opacity .5s linear;
    width: 20px;
    position: absolute;
    right: 30px;
}

.tooltip>span::before {
    content: attr(data-text);
    position: absolute;
    top: -7px;
    left: 100%;
    margin-left: 15px;
    width: 120px;
    padding: .6em;
    border-radius: 10px;
    background-color: var(--melo-blue);
    color: var(--white);
    text-align: center;

    visibility: hidden;
    opacity: 0;

    transition: opacity .5s linear, visibility .5s ease;
}

.tooltip>span::after {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid;
    border-color: transparent var(--melo-blue) transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s linear, visibility .5s ease;
}

.tooltip:hover>span::before,
.tooltip:hover>span::after {
    opacity: 1;
    visibility: visible;
}

/* ! */