/* ? Making site responsive */
@import "./globals.css";

@media (max-width:768px) {

    .nav-res {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: .6em;
        --white: #fffff18c;
        background-color: var(--white);
        min-height: 40px;
    }

    .welcome-message {
        padding: 1.5em 0 0;
        filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    }

    .nav-res>.welcome-msg-container,
    .nav-res>.nav-ul {
        display: none;
    }

    .nav-res>.hamburger-container {
        display: inline-block;
    }

    .tooltip {
        display: none;
    }

    input.input {
        height: 34px;
    }

    .main-form .input+.form-label {
        transform: translate(40px, 27px);
    }

    .main-form .input:focus+.form-label,
    .label-active {
        transform: translate(30px, 0) !important;
    }

    .input+.form-label {
        transform: translate(70px, 27px);
    }

    .input:focus+.form-label,
    .label-active,
    .label-info-active {
        transform: translate(65px, 0);
    }

    .input-date+label.label-info {
        transform: translate(70px, 0);
    }

    .nav-ul>li {
        margin: .3em 0;
    }

    .nav-ul .link::before {
        animation: scaleActiv 4s 1s infinite alternate ease;
    }

    .nav-ul>li:nth-child(2)>.link::before {
        animation-delay: 2s;
    }

    .nav-ul>li:nth-child(3)>.link::before {
        animation-delay: 3s;
    }

    .btn {
        animation: colorActive 5s infinite alternate ease;
    }

    .btn::before {
        animation: beforeActive 5s infinite alternate ease;
    }

    .welcome {
        animation: unset;
    }

    .container-infos {
        max-width: 90%;
        margin: 1em auto;
    }


    /* 
    .form-patient-info>.my-1 {
        margin: 0 !important;
    } */

    .patient-container::before {
        all: unset;
    }

    .patient-container {
        --white: #fff;
        background-color: var(--white);
    }

    .add-button {
        color: var(--black);
    }

    .file-label:hover:before {
        width: unset;
    }

    .file-label::before {
        animation: beforeActive 2s 4s forwards linear;
    }



    .infos {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1em;

    }

    .showpat-container {
        width: 75%;
        animation: boxShadow 3s 3s forwards ease;
    }

    .showpat-container::before {
        animation: beforeActive2 3s 3s forwards linear;
    }

    .dark .showpat-container {
        animation: unset
    }

    .showpat-container>h3 {
        margin-top: unset;
        font-size: 1.1em;
    }

    .d-grid-exact {
        grid-template-columns: 1fr;
        gap: .5em;
    }

    /* .d-grid-exact>.my-1 {
        margin: 0 !important;
    } */

    .flex-exact {
        min-height: unset;
    }

    .flex-exact-img {
        gap: .5em;
    }

    .d-block~.edit {
        display: unset;
    }

    .editTrue~.edit {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .exact-patient {
        max-width: 90%;
        padding: .3em;
        margin: .5em auto;
    }

    /* ? Define button animation */
    @keyframes colorActive {
        from {
            color: #111;
        }

        to {
            color: var(--white);
        }
    }

    @keyframes colorAddButton {
        from {
            --dark-melo: rgba(68, 68, 68, 0.735);
            color: var(--dark-melo);

        }

        to {
            color: var(--black);
        }
    }

    @keyframes beforeActive {
        from {
            width: 0;
        }

        to {
            width: 150%;
        }
    }

    @keyframes beforeActive2 {
        from {
            width: 0;
        }

        to {
            left: -65px;
            width: 220%;
        }
    }

    @keyframes boxShadow {
        to {
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .6);
        }
    }

    @keyframes scaleActiv {
        to {
            transform: scaleX(1);
        }
    }

    /* ! */

}

@media (max-width:426px) {
    .infos {
        grid-template-columns: 1fr;
    }

    .input+.form-label {
        transform: translate(40px, 25px);
    }

    .main-form .input+.form-label {
        transform: translate(35px, 25px);
    }


    .input:focus+.form-label,
    .label-active,
    .input-date:focus+label.label-info,
    .label-info-active {
        transform: translate(27px, 0) !important;
    }

    .input-date+label.label-info {
        transform: translate(40px, 0) !important;
    }

    .btn-add {
        right: 40px;
    }

    .search-container {
        max-width: 80%;
    }

}

@media (min-width:427px) and (max-width:767px) {

    .input-date+label.label-info,
    .input-date:focus+label.label-info {
        transform: translate(55px, 0);
    }

    .input+.form-label {
        transform: translate(55px, 27px);
    }

    .input:focus+.form-label,
    .label-active,
    .label-info-active {
        transform: translate(40px, 0) !important;
    }

}


@media (min-width:580px) and (max-width:768px) {
    .btn-add {
        right: 70px;
    }
}

/* ! */